@import url('https://fonts.googleapis.com/css?family=Sunflower:300');

*{
  font-family: 'Sunflower', sans-serif;

}

.projectHeader{
    font-family: 'Sunflower', 'sans-serif' !important;
}

  span{
    font-weight: bold;
    font-style: italic;
    font-size: 1.3em;
    color: #0096cc;
  }

.nav{
  letter-spacing: 0.2em !important;
  grid-area: nav;
  height: 5vh;
  align-self: start;
}
.footer{
  grid-area: footer;
  max-height: 5vh;
  align-self: end;
}
.middleChild{
  grid-area: middleChild;
  align-self: center;


}
.me{
  width: 20vw !important;
  height: 20vh !important;
}

.gridContainer{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "nav"
  "middleChild "
  "footer"
}
.react-pdf__Page{
  text-align: center;
}
.react-pdf__Page__canvas{
    display: inline-block !important;
    width: 35vw !important;
    height: 80vh !important;
}
.annotationLayer{
  display: none;
}

.react-pdf__Page__textContent{
  display: none;
}
